@{
    ViewBag.Title = "About";
}
<article>
    <h1>About
    </h1>
</article>
<article>
    <div class="blockcenterpos">
        <img src="~/Content/images/IMG_2760.JPG" />
    </div>
    <div class="blockcenterpos">
        <strong>Technical skills:</strong>
        <p>
            <span>C#, APS.NET, MVC, EPIServer, SQLServer, Entityframework, SQL, HTML, CSS, JavaScript, JQuery
            </span>
        </p>
        <p>
            <strong>Current Position</strong>
            <div>
                <span>Working as a software developer for <a href="http://www.iteranetworks.se/">Itera</a> based in Stockholm
                </span>
            </div>
        </p>
    </div>
</article>
