@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span><a href="mailto:nguyen.anders@gmail.com">nguyen.anders@gmail.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Social</h3>
    </header>
    <p>
        <a href="http://www.linkedin.com/pub/anders-nguyen/32/1b2/665"><img src="~/Content/images/linkedin-grey.png" class="social-icon"/></a>
        <a href="https://twitter.com/nguyenanders"><img src="~/Content/images/twitter_grey.png" class="social-icon"/></a>
    </p>
</section>
<div class="spacediv"></div>