@{
    ViewBag.Title = "Home Page";
}
<article>
    <h1>Welcome!</h1>
    <div>My name is Anders Nguyen and am IT-Guy focusing on system development located in Stockholm Sweden</div>
    <div class="spacediv"></div>
</article>
